/* APP STYLING */
/* font-family: 'Roboto Condensed',
sans-serif; */
/* font-family: 'Righteous',
cursive; */
/* font-family: 'Anek Gujarati',
sans-serif; */

.App {
  text-align: center;
    background-color: #f4f1ea;
    font-family: 'Roboto Condensed',
    sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color:#011dcb;
}

.App-header{
  font-family: 'Righteous',
  cursive;
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
}

.App-link {
  color: #877c7c;
  letter-spacing: 8px;
  text-decoration: none;
  font-family: 'Roboto Condensed',
  sans-serif;
}

/* Footer at Bottome of page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}

/* .App-link.active {
  color: blue;
  text-decoration: underline;
} */

/* ABOUT STYLING */
.abtHead {
  font-style: oblique;
}

.about{
  text-align: left;
  font-size: larger;
  color: #2a1e11;
}

.skills{
  text-align: center;
}


/* PORTFOLIO STYLING */
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em;
}

#projects {
  /* background-color: black; */
}

#project-title {
  color:#011dcb;
  font-weight: 800;
  font-family: 'Righteous',
  cursive;
  padding: 1em;
}

.projectCard {
 text-decoration: none;
 background-color:#f1c661;
}

.project-img {
 /* filter: grayscale(100%); */
}

.project-img:hover {

}

.card-title{
  font-weight: 400;
}

.projectLink {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

a:hover {
  color: white#011dcb;
}

#contact-title {
  color: #011dcb;
  font-weight: 800;
  font-family: 'Righteous',
    cursive;
}
/* 
.about-container {
  display: flex;

}

.about-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
