

.App {
  text-align: center;
    background-color: #fffcf6;
    font-family: 'Roboto Condensed',
    sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color:#011dcb;
}

.App-header{
  font-family: 'Righteous',
  cursive;
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
}

.App-link {
  color: #877c7c;
  letter-spacing: 8px;
  text-decoration: none;
  font-family: 'Roboto Condensed',
  sans-serif;
}

header nav{
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 20px;
  padding-left: 3em;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}


/* Footer at Bottom of page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}


/* ABOUT STYLING */
.abtHead {
  font-style: oblique;
}

.about{
  text-align: left;
  font-size: larger;
  color: #2a1e11;
}

.skills{
  text-align: center;
}


/* PORTFOLIO STYLING */
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em;
}

#projects {
  /* background-color: black; */
}

#project-title {
  color:#011dcb;
  font-weight: 800;
  font-family: 'Righteous',
  cursive;
  padding: 1em;
}

.projectCard {
 text-decoration: none;
 background-color:#f1c661;
}

.project-img {
 /* filter: grayscale(100%); */
}

.project-img:hover {

}

.card-title{
  font-weight: 400;
}

.projectLink {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

a:hover {
  color: white#011dcb;
}


/* 
.about-container {
  display: flex;

}

.about-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

/*** CONTACT PAGE ***/

#contact-title {
  color: #011dcb;
  font-weight: 800;
  font-family: 'Righteous',
    cursive;
}
.contact-hero-image {
  max-width: 100%;
}

.contact-page-container {
  padding: 45px 23px;
}

.contact-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.contact-page-content h1 {
  line-height: 38px;
}

.contact-page-content p {
  line-height: 22px;
}

/* .contact-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.contact-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.contact-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
} */