/* APP STYLING */
.App {
  text-align: center;
    font-family: 'Anek Gujarati', sans-serif;
    background-color: white
  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3c3e3f;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header{
  /* font-family: 'Chicle', cursive; */
  text-shadow: 5px 5px 10px rgb(3, 3, 3);
}

.App-link {
  color: hsl(75, 72%, 54%);
  letter-spacing: 8px;
  text-decoration: none;
  font-family: 'Anek Gujarati', sans-serif;
}

/* ABOUT STYLING */
.abtHead {
  font-style: oblique;
}



/* PORTFOLIO STYLING */
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#projects {
  background-color: black;
}

#project-title {
  color: hsl(0, 0%, 2%);
}

.projectCard {

  text-decoration: none;
  font-family: 'Anek Gujarati', sans-serif;

}

.project-img {
 filter: grayscale(100%);
}


.projectLink {
  text-decoration: none;
  text-shadow: 2px 2px 5px rgb(3, 3, 3);
  font-family: 'Anek Gujarati', sans-serif;
}

a:hover {
  color: #000000;
}



/* FOOTER STYLING */
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer ul li {
 display: inline;
 font-size: 3rem;
 padding: 1rem;
 color: white;
}

.footer-btn{
 background-color: #70ba9f;
 width: 5rem;
 margin: 1rem;
 min-height: 5vh;

}
.footer{
  background-color: black;
  display: flex;
  justify-content: center;

}
